.list {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(1, auto auto auto 1fr);
    gap: 1rem 2rem;
    padding: 2.5rem 0;
    margin: 0 auto;
}

@media (max-width: 980px) {
    .list {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        max-width: 600px;
    }

    .list > * {
        margin-bottom: 1rem;
    }
}

@media (max-width: 767px) {
    .list {
        max-width: 270px;
        grid-template-columns: auto;
        /* grid-template-rows: repeat(3, auto auto auto 1fr); */
    }
}