@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

.karla-regular {
    font-family: 'Karla', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.karla-bold {
    font-family: 'Karla', sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.card {
    display: grid;
    grid-column: span 1;
    grid-row: span 4;
    grid-template-rows: subgrid;
    padding-bottom: 1.5rem;
    border-radius: 16px 16px 0 0;
    background-color: #EDEFEE;
}

.card > *:not(:first-child):not(:last-child) {
    padding: 0 1.5rem;
    margin-bottom: 0.75rem;
}

.image {
    width: 100%;
    height: 185px;
    border-radius: 1rem 1rem 0 0;
    grid-row: span 1;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-row: span 1;
}

.title {
    line-height: 1.2;
    color: #000;
}

.cost {
    margin-left: 1.6rem;
    color: #EE9972;
}

.description {
    grid-row: span 1;
    color: #495E57;
}

.footer {
    display: grid;
    grid-row: span 1;
    padding: 0 0 0 1.5rem !important;
}

.call-to-action {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.call-to-action p {
    display: inline-block;
    margin-right: 1rem;
    color: #333333;
}

.call-to-action img {
    width: 20px;
}