.reservation {
    width: 45em;
    margin: 0 auto;
    padding: 2em 4em;
    background-color: white;
    border-radius: 1em;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.reservation label,
.reservation span,
.reservation button {
    display: block;
}

.reservation label {
    margin-bottom: 0.5em;
}

.reservation span {
    color: red;
}

.date-time,
.ocassion-guests,
.personal-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5em;
    margin-bottom: 1em;
}

.date,
.time,
.ocassion,
.guests,
.firstName,
.secondName {
    width: 50%;
}

.reservation input,
.reservation select {
    width: 100%;
    padding: 0.2em 1em;
    border: 1px solid #333;
    background-color: white;
    border-radius: 0.4em;
}

.area-field {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-block: 1em;
}

.area-field div {
    flex-basis: 100%;
}

.area-field label {
    text-align: center;
}

.submit {
    margin: 0 auto;
    margin-top: 1em;
    padding: 0.4em 5em;
    border: none;
    background-color: #f4ce14;
    border-radius: 0.4em;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
}

.submit:hover {
    background-image: linear-gradient(rgb(0 0 0/5%) 0 0);
}